# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Hypervisor-Detection.sln.DotSettings.user
Hypervisor-Detection/Hypervisor-Detection.vcxproj.user
Hypervisor-Detection/x64/Release/vcpkg.applocal.log
Hypervisor-Detection/x64/Release/vc143.pdb
Hypervisor-Detection/x64/Release/Hypervisor-Detection.vcxproj.FileListAbsolute.txt
Hypervisor-Detection/x64/Release/Hypervisor-Detection.log
Hypervisor-Detection/x64/Release/Hypervisor-Detection.ipdb
Hypervisor-Detection/x64/Release/Hypervisor-Detection.iobj
Hypervisor-Detection/x64/Release/Hypervisor-Detection.exe.recipe
Hypervisor-Detection/x64/Release/Hypervisor-Detection.Build.CppClean.log
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/Masm.write.1u.tlog
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/Masm.read.1u.tlog
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/link.write.1.tlog
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/link.read.1.tlog
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/link.command.1.tlog
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/Hypervisor-Detection.lastbuildstate
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/CL.write.1.tlog
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/CL.read.1.tlog
Hypervisor-Detection/x64/Release/Hypervis.e2884040.tlog/CL.command.1.tlog
Hypervisor-Detection/Release/vcpkg.applocal.log
Hypervisor-Detection/Release/vc143.pdb
Hypervisor-Detection/Release/Hypervisor-Detection.vcxproj.FileListAbsolute.txt
Hypervisor-Detection/Release/Hypervisor-Detection.log
Hypervisor-Detection/Release/Hypervisor-Detection.ipdb
Hypervisor-Detection/Release/Hypervisor-Detection.iobj
Hypervisor-Detection/Release/Hypervisor-Detection.exe.recipe
Hypervisor-Detection/Release/Hypervisor-Detection.Build.CppClean.log
Hypervisor-Detection/Release/Hypervis.e2884040.tlog/link.write.1.tlog
Hypervisor-Detection/Release/Hypervis.e2884040.tlog/link.read.1.tlog
Hypervisor-Detection/Release/Hypervis.e2884040.tlog/link.command.1.tlog
Hypervisor-Detection/Release/Hypervis.e2884040.tlog/Hypervisor-Detection.lastbuildstate
Hypervisor-Detection/Release/Hypervis.e2884040.tlog/CL.write.1.tlog
Hypervisor-Detection/Release/Hypervis.e2884040.tlog/CL.read.1.tlog
Hypervisor-Detection/Release/Hypervis.e2884040.tlog/CL.command.1.tlog
.vs/Hypervisor-Detection/v17/Current/ipch/AutoPCH/64abc036ce3768a2/HYPERVISOR-DETECTION.ipch
.vs/Hypervisor-Detection/v17/Current/ipch/AutoPCH/5d1223cf157cbdb7/HYPERVISOR-DETECTION.ipch
.vs/Hypervisor-Detection/v17/Current/Browse.VC.opendb
.vs/Hypervisor-Detection/v17/Current/Browse.VC.db-wal
.vs/Hypervisor-Detection/v17/Current/Browse.VC.db-shm
.vs/Hypervisor-Detection/v17/Current/Browse.VC.db
.vs/Hypervisor-Detection/v17/.suo
